* {
    /* margin: 0;
    padding: 0; */
    /* border: 1px solid tomato; */
    box-sizing: border-box;
}



/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #bec4c4;
    border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #949494;
}

html,
body {
    margin: 0;
    height: 100dvh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.container {
    height: 100%;

    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 260px;
    padding: 14px 20px;
    background-color: #F9F9F9;

    display: flex;
    flex-direction: column;
    /* display: none; */
}

.sidebar__header-text {
    font-size: 14px;
    padding: 10px;
}

.sidebar__description {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

}

.sidebar__description-text {
    font-size: 18px;
    text-align: center;
}


.main {
    width: calc(100% - 260px);
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    background-color: #FFFFFF;
}

/* Heder */

.main__header {
    height: 56px;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.main__header-text {
    padding-left: 20px;
}

.chat-container {
    width: min(768px, 94%);
    height: calc(100% - 56px);
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* messages */

.messages-container {
    height: 100%;
    overflow: scroll;
}

.message-container {
    display: flex;
    gap: .75rem;
    padding-bottom: 1rem;
    padding-top: .5rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

.message__text-container {
    max-width: calc(100% - 24px - 0.75rem);
    flex-grow: 1;
}

.message__text-name {
    font-weight: 600;
    user-select: none;
}

.message__text-body {
    max-width: 95%;
    overflow-wrap: break-word;
}

.avatar-image {
    width: 24px;
    height: 24px;
    border: 1px solid #00000026;
    border-radius: 9999px;
    padding: 1px;
}

/* Greeting */

.messages__greeting-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messages__greeting-text {
    font-size: 24px;
    line-height: 32px;
    width: 278px;
    text-align: center;
}

/* User input */

.input-container {
    padding-bottom: min(3vh, 32px);
    display: flex;
    flex-direction: column;
}

/* Suggestions */

.suggestions-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding-top: .5rem;
    padding-bottom: .875rem;
}

.suggestion-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}

.suggestion-button {
    width: 49%;
    flex-grow: 1;
    background-color: #fff;
    border: 1px solid #00000026;
    border-radius: 12px;
    padding: 12px 16px;
    text-align: left;
    line-height: 20px;
    cursor: pointer;

}

.suggestion-button:hover {
    background-color: #f9f9f9;
}

.suggestion-button:active {
    opacity: .8;
}

.suggestion__main-text {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 700;

}

.suggestion__sub-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    font-weight: 400;
    opacity: 0.5;
}

/* Text-input */

.text-input-container {
    padding: 11px 13px;
    display: flex;
    border: 1px solid #00000026;
    border-radius: 16px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.input__text-input {
    min-width: none;
    outline: none;
    border: none;
    padding-right: 10px;
    flex-grow: 1;
}

.input__button {
    width: 30px;
    height: 30px;
    padding: .125rem;
    border: none;
    border-radius: 8px;
    background-color: black;
    opacity: 0.1;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input__text-input:valid+.input__button {
    opacity: 1;
    cursor: pointer;

}

@media (max-width: 767px) {
    .sidebar {
        display: none;
    }

    .main__header {
        height: 45px;
        border-bottom: 1px solid rgba(0, 0, 0, .15);
        font-size: 14px;
    }

    .messages__greeting-text {
        font-size: 20px;
    }

    .suggestion-row {
        flex-direction: column;
        align-items: center;
    }

    .suggestion-row:last-child {
        display: none;
    }

    .suggestion-button {
        width: 95%;
    }
}

.hide-element {
    display: none;
}